.projects h2{
  background: var(--secondary-color);
  padding: 1em;
  text-align: center;
  color: var(--primary-color);
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color) ;

}