.projects h2{
  background: var(--secondary-color);
  padding: 1em;
  text-align: center;
  color: #fff;
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
  text-shadow: 2px 2px 2px var(--primary-color);

}

.card-wrapper{

  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 3rem;
  justify-content: center;
}