.hero-wrapper {
  background: var(--primary-color);
  height: 25rem;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  @media only screen and (min-width: 300px) and (max-width:800px){
    height: 34rem;
    padding: 1rem;

  }
}

.hero {
  text-align: center;
}

.sub {
  width: 90%;
  margin: auto;
  padding-top:1rem ;
  color: #fff;
  letter-spacing: 0.3rem;

 
  @media only screen and (min-width: 300px) and (max-width:800px){
    letter-spacing: 0;

  }
}

strong{
  color: var(--secondary-color);
}

.hero-title {

  font-size: 4.5rem;
  letter-spacing: 2rem;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 90px var(--tertiary-color);


  background: url(https://firebasestorage.googleapis.com/v0/b/portifolio-27d3f.appspot.com/o/stripes3.png?alt=media&token=6206b23c-308d-4fbb-a862-c8f565da8050) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;


  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;


  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}


@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
  }
  