.jobs h2{
  background: var(--secondary-color);
  padding: 1em;
  text-align: center;
  color: var(--primary-color);
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color) ;
  text-shadow: 2px 1px 0px #ffffff;

}

.grid-wrapper{
  
  margin: 2em auto;
  width: 1200px;
  height: 30em;
  border: 1px solid red;
}