.contact-headlines{
  margin-top: 3rem;
  background: var(--secondary-color);
  padding: 1em;
  text-align: center;
  color: var(--primary-color);
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color) ;
}

.contact-wrapper{
  width: 100%;
  height: 21rem;
  padding: 2rem;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.2rem;
  
  
}

.social-wrapper{
  margin: auto;
  display:flex;
  flex-direction: column;

}

.social-media{
  padding-top: 1rem;
  
}

.social-media a{
  color: var(--tertiary-color);
  font-size: 1.5rem;
  text-decoration: none;
 
}

.social-icon{
  color: #fff;
  margin-right: 0.5rem;
  
}


.form-wrapper{
  margin: auto;
}




.label{
  display:flex;
  margin-left: 5.1rem ;
  color: var(--secondary-color)
}

.input-box{
  width: 20rem;
  margin-left: 5rem;
  padding-right: 0.2rem;
  height: 1.5rem;
  outline: none;
  border-radius: 0.3rem;
  
}

.txt-message{
  margin-left: 5rem;
  padding: 0.4rem;
  width: 20rem;
  max-width: 20rem;
  display: block;
  outline: none;
  height: 7rem;
  max-height: 7rem;
  border-radius: 0.5rem;
}

.form-wrapper .input-submit{
  margin-left: 5rem;
  padding: 0.7rem;
  margin-top: 0.3rem;
  width: 20rem;
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  
  

}