*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  background: var(--primary-color);
  border-bottom: 1px solid var(--tertiary-color);

  @media only screen and (min-width: 300px) and (max-width:800px){
    justify-content: space-between;

  }
}

nav .logo{
  font-size: 1.5em;
  color:#fff  ;  
  font-weight: bold;


  @media only screen and (min-width: 300px) and (max-width:800px){
    font-size: 1em;
    
  }
}

nav ul{
  display: flex;
  gap: 5rem;
  text-align: center;

  @media only screen and (min-width: 300px) and (max-width:800px){
    display: none;
  
  }
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;

  @media only screen and (min-width: 300px) and (max-width:800px){
    letter-spacing: 0em;
  }

}